<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InvoiceOutputFolder" value="C:\Users\work\Invoices\" />
		<add key="SalesOutputFolder" value="C:\Users\work\Sales\" />
		<add key="SqliteConnectionString" value="Data Source=ExcelAutomation.db;Version=3;" />
		<add key="BaseUrl" value="https://localhost:7047/api/" />
	</appSettings>
</configuration>